ul {
    display: flex;
    justify-content: center;
}

a {
    padding: 10px;
    background-color: aquamarine;
    text-decoration: none;
}

li {
    background-color: blue;
    list-style: none;
    padding: 10px;
}

A:hover {
    background-color: blueviolet;
}